@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

@mixin setCircle($size) {
	width: $size;
	height: $size;
	flex-shrink: 0;
	border-radius: 50%;
	display: block;
}
@mixin inBlock($class) {
	#{$class} & {
		@content;
	}
}
@mixin played() {
	@include inBlock(".audio-player--play") {
		@content;
	}
}
@mixin paused() {
	@include inBlock(".audio-player--pause") {
		@content;
	}
}
@mixin absolute-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin text-truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.audio-player {
	font-family: "Gowun Batang", serif;
	font-weight: 400;
	font-style: normal;

	min-height: 100vh;
	background-color: aquamarine;

	background-image: url("../img/dontstartnow.png");
	background-size: cover;
	background-position: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;

	&__backdrop {
		backdrop-filter: blur(0.2rem);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.audio-player-layout {
	$width: 45rem;
	box-shadow: 0rem 0rem 0.8rem 0.1rem rgba(255, 255, 255, 0.8);
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;

	@include setCircle($width);

	&::before {
		content: "";
		@include setCircle($width);
		background-color: aqua;
		border: 1rem solid bisque;

		opacity: 0.7;

		border-left-color: blue;
		border-top-color: brown;
		border-right-color: violet;
		border-bottom-color: green;

		box-shadow: -1rem -1rem 4rem 2rem rgba(165, 42, 42, 0.3),
			1rem 1rem 4rem 2rem rgba(0, 128, 0, 0.3);

		animation-name: rotating, border-color-change;
		animation-duration: 3s, 5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		@include played() {
			animation-play-state: running, running;
		}

		@include paused() {
			animation-play-state: paused, running;
		}
	}

	&__content {
		@include setCircle($width - 1rem);
		@include absolute-center();
		background-color: rgb(76, 49, 99);
		background-image: url("../assets/img/dontstartnow.png");
		background-size: 101%;
		background-position: center;
		overflow: hidden;
		transition: background-size 0.8s ease-in-out;

		@include played() {
			background-size: 108%;
		}
	}
	&__content-container {
		background-color: rgba(0, 0, 0, 0.4);
		display: flex;
		flex-direction: column;
		height: 100%;
		box-shadow: inset 0rem 0rem 0.8rem 0.1rem rgba(255, 255, 255, 0.8);
		border-radius: 50%;

		transition: background-color 0.3s ease-in-out;

		@include paused() {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}

	&__center {
		height: 2rem;
		flex: 0 0 6rem;
	}
	&__top,
	&__bottom {
		height: 100%;
		flex: 1 1 2rem;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
}
.audio-controls-layout {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-around;

	padding-left: 1rem;
	padding-right: 1rem;

	gap: 2rem;
}

.audio-control {
	@include setCircle(5rem);
	flex: 0 0 5rem;

	filter: brightness(700%);
	background-size: 100%;
	transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

	//box-shadow: 0 0 0.6rem 0.1rem rgb(228, 228, 228);

	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		filter: brightness(600%);
		transform: scale(1.1);
	}

	&--left {
		background-image: url("../svg/backward.png");
	}
	&--right {
		background-image: url("../svg/forward.png");
	}
}

.audio-control-main {
	color: white;
	font-size: 6rem;
	height: 6rem;
	width: 6rem;
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	text-shadow: 0 0 0.6rem rgb(228, 228, 228);

	&--play {
		transform: scale(1.2);
	}

	&--play::before,
	&--pause::before {
		transition: all 0.5s ease-out;
	}

	&--play {
		&::before {
			content: "❚❚";

			@include paused() {
				opacity: 0;
				z-index: -1;
				transform: scale(3);
			}
		}
	}
	&--pause {
		&::before {
			content: "▶";
			position: absolute;

			@include played() {
				z-index: -1;
				opacity: 0;
				transform: scale(3);
			}
		}
	}
}
.audio-play-control {
	display: flex;
	align-items: center;
	justify-content: center;
}

.progress-bar {
	min-width: 10rem;
	width: 100%;
	height: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;

	animation: bg-anima 5s ease infinite;
	background-size: 300% 300%;
	background-image: linear-gradient(
		45deg,
		blue,
		rgba(238, 130, 238, 1),
		rgba(255, 0, 0, 1)
	);
	box-shadow: 0 0 0.2rem 0.2rem rgba(228, 228, 228, 0.5);

	&__control {
		height: 100%;
		width: 40%;
		border-radius: 0.5rem;
		transition: all 0.3s linear;

		background-color: rgba(255, 255, 255, 0.7);
	}
}
.volume-layout {
	display: flex;
	align-items: center;
	gap: 0.6rem;

	&__btn {
		width: 1.2rem;
		height: 1.2rem;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		transition: transform 0.2s linear, background-color 0.3s linear;
		border-radius: 50%;

		&:hover {
			transform: scale(1.3);
			background-color: rgba(217, 208, 255, 0.272);
		}
		&:active {
			transform: scale(2);
		}
	}
}
.audio-player-title {
	color: whitesmoke;
	text-align: center;
	text-shadow: 0 0 1rem rgb(0, 0, 0);
	width: 100%;

	&__artist {
		font-size: 4rem;
		width: 30rem;
		margin: 0 auto;
		@include text-truncate();
	}

	&__song {
		font-size: 2rem;

		margin: 0 auto;
		width: 37rem;
		@include text-truncate();
	}
}

.propgess-bar-container {
	width: 100%;
}
.progress-time {
	color: whitesmoke;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	font-size: 1.1rem;
	padding-bottom: 0.6rem;
	user-select: none;
}

.time {
	width: 5rem;

	&#timeDuration {
		text-align: right;
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6rem;
	padding: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	span {
		color: antiquewhite;
		letter-spacing: 0.4rem;
		text-shadow: 0 0 1rem rgb(0, 0, 0);
	}

	img {
		border-radius: 50%;
		height: 100%;
		width: 4rem;
		opacity: 0.4;
		transition: opacity 0.3s ease-in-out;
		animation-name: rotating;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-play-state: paused;
		&:hover {
			animation-play-state: running;
			opacity: 0.8;
		}
	}
}

@keyframes rotating {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(-180deg);
	}
	0% {
		transform: rotate(-360deg);
	}
}
@keyframes border-color-change {
	0% {
		border-left-color: blue;
		border-top-color: brown;
		border-right-color: violet;
		border-bottom-color: green;
	}
	25% {
		border-left-color: green;
		border-top-color: blue;
		border-right-color: brown;
		border-bottom-color: violet;
	}
	50% {
		border-left-color: violet;
		border-top-color: green;
		border-right-color: blue;
		border-bottom-color: brown;
	}
	75% {
		border-left-color: brown;
		border-top-color: violet;
		border-right-color: green;
		border-bottom-color: blue;
	}
	100% {
		border-left-color: blue;
		border-top-color: brown;
		border-right-color: violet;
		border-bottom-color: green;
	}
}
@keyframes bg-anima {
	0% {
		background-position: 10% 0%;
	}
	50% {
		background-position: 91% 100%;
	}
	100% {
		background-position: 10% 0%;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 2vw;
	}
}
